<!-- Formulario para crear un usuario -->
<form [formGroup]="user">

  <div class="form-group">
    <label class="control-label col-md-2">Nombre</label>
    <input type="text" [(ngModel)]="usuario.nombre" #Vnombre formControlName="nombre" placeholder="Nombre" class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.nombre.errors}">

    <div *ngIf="user.get('nombre').hasError('required')" class="invalid-feedback">
      Nombre requerida

   </div>

</div>

<div class="form-group">
  <label class="control-label col-md-2">Apellidos</label>
  <input type="text" [(ngModel)]="usuario.apellidos" #Vapellido formControlName="apellidos" placeholder="Apellidos" class="form-control"
  [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors}">

    <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
        <div *ngIf="f.apellidos.errors.required">Campo vacio</div>
   </div>

</div>


<div class="form-group">
  <label class="control-label col-md-2">Edad</label>
  <input type="number" [(ngModel)]="usuario.edad" #Vedad formControlName="edad" placeholder="Edad" class="form-control"
  [ngClass]="{ 'is-invalid': submitted && f.edad.errors}">

    <div *ngIf="submitted && f.edad.errors" class="invalid-feedback">
        <div *ngIf="f.edad.errors.required">Campo vacio</div>
   </div>

</div>


<div class="form-group">
  <label class="control-label col-md-2">Descripcion</label>
  <textarea type="text" [(ngModel)]="usuario.descripcion" #Vdesc formControlName="descripcion" placeholder="Descripcion" class="form-control"
  [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors}"></textarea>

    <div *ngIf="user.get('descripcion').hasError('required')" class="invalid-feedback">
      Descripcion requerida

   </div>

</div>

<div class="form-group">
  <label class="control-label col-md-2">Correo</label>
  <input type="email" [(ngModel)]="usuario.correo" #Vemail formControlName="correo" placeholder="Correo" class="form-control"
  [ngClass]="{ 'is-invalid': submitted && f.correo.errors}">

    <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
      <div *ngIf="f.correo.errors.required">Campo vacio</div>
        <div *ngIf="f.correo.errors.email">Debes introducir un correo</div>
   </div>

</div>

<div class="form-group">
  <label class="control-label col-md-2">Contrasña</label>
  <input type="password" [(ngModel)]="usuario.contrasena" #Vcontra formControlName="contrasena" placeholder="Contraseña" class="form-control"
  [ngClass]="{ 'is-invalid': submitted && f.contrasena.errors}">

    <div *ngIf="submitted && f.contrasena.errors" class="invalid-feedback">
        <div *ngIf="f.contrasena.errors.required">Campo vacio</div>
   </div>
  </div>

   <div class="form-group">
    <label class="control-label col-md-2">Confirmar contraseña</label>
    <input type="password" [(ngModel)]="usuario.ConfirmarContrasena" #VConfirmContra formControlName="ConfirmarContrasena" placeholder="Confirmar contraseña" class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.ConfirmarContrasena.errors}">

      <div *ngIf="submitted && f.ConfirmarContrasena.errors" class="invalid-feedback">
          <div *ngIf="f.ConfirmarContrasena.errors.required">Campo vacio</div>
     </div>
    </div>

  <!-- Mediante este boton guardaremos los cambios y crearemos el usuario -->
  <button class="btn btn-primary" (click)="enviarDatos(Vnombre.value, Vapellido.value, Vedad.value, Vdesc.value, Vemail.value, Vcontra.value, VConfirmContra.value)">Crear usuario</button>


</form>
